*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 60px;
    background: rgb(35, 35, 35);
    color: white;
    /* background: linear-gradient(to right,rgba(0, 0, 0,0.6),rgba(162, 158, 158, 0.2)); */
}
